<?xml version="1.0" encoding="UTF-8"?>
<suite name="InnovationDaysTestNGProject" verbose="1">

	<test name="InnovationDaysTestNGProject">
		<groups>
			<run>
                <include name="afterfix" />
                <!-- 
                <include name="testnull" />
                <exclude name="testuppercase" />
                <exclude name="testempty" />
                
                
                <include name="dptest" />
                 
                 <include name="beforefix" />
                 -->
                 
                
			</run>
		</groups>


		<classes>
			<class name="com.intuit.ctodev.qa.iday.before.CheckEmptyTest" />
            <class name="com.intuit.ctodev.qa.iday.before.CheckValueTest" />
            <class name="com.intuit.ctodev.qa.iday.before.IDayTest" />

            <class name="com.intuit.ctodev.qa.iday.after.CheckEmptyTest" />
            <class name="com.intuit.ctodev.qa.iday.after.CheckValueTest" />
            <class name="com.intuit.ctodev.qa.iday.after.IDayTest" />                  			
		</classes>

	</test>
</suite>