<?xml version="1.0" encoding="UTF-8"?>
<suite name="InnovationDaysTestNGProject" verbose="1">

	<test name="InnovationDaysTestNGProject">
		<groups>
			<run>
                <exclude name="testempty" />
                <exclude name="solutionone" />
                <include name="testnull" />
                <!-- 
                <include name="dptest" />
                 -->
                
			</run>
		</groups>


		<classes>
			<class name="com.intuit.ctodev.qa.iday.library.CheckValueIsNotNullTest" />
			<class name="com.intuit.ctodev.qa.iday.library.CheckValueIsEmptyTest" />
			<class name="com.intuit.ctodev.qa.iday.library.SolutionOne" />
		</classes>


	</test>
</suite>